k8s {
  namespace = 'medgen-ns'
   runAsUser = 1000
   storageClaimName = 'pvc-713003-pospisilova-base'
   storageMountPath = '/mnt'
   pod = [ [volumeClaim: 'pvc-713003-pospisilova-cmbg', mountPath: "/cmbg" ]]
   homeDir = '/cmbg/Mareckova_panel'
   launchDir = "${k8s.homeDir}/src/launch"
   projectDir = "${k8s.homeDir}/src/project"
   workDir = "${k8s.homeDir}/src/temp"
}

params {
   outDirectory = "${k8s.homeDir}/data"
   ref = '/mnt/references/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38'
   vep = '/mnt/references/Homo_sapiens/GATK/GRCh38/Annotation/vep'
   refindex = '/mnt/references/Homo_sapiens/GATK/GRCh38/Sequence/BWAIndex/Homo_sapiens_assembly38.fasta.64'
   covbed = "${k8s.projectDir}/xsvato01/mareckova_CXCR_k8s/beds/mareckovaBed_GRCh38.bed"
   variantsDBdir = "${k8s.projectDir}/xsvato01/mareckova_CXCR_k8s/beds"

   vcftbl = "${k8s.projectDir}/xsvato01/mareckova_CXCR_k8s/src/vcf2table108.py"
   coverstat = "${k8s.projectDir}/xsvato01/mareckova_CXCR_k8s/src/coverage_stat.R"
   mergetables = "${k8s.projectDir}/xsvato01/mareckova_CXCR_k8s/src/JoinVars.py"
}


executor {
   queueSize = 100
}


process {
   withLabel:small_process {
         cpus = 1
         memory = 2.GB
      }
      withLabel:smallest_process {
         cpus = 1
         memory = 1.GB
      }   
      withLabel:medium_cpu {
         cpus = 4
      }
      withLabel:medium_mem {
         memory = 40.GB
      }  
   container = 'xreblova/svatmarckova'
   scratch = true
   executor = 'k8s'
   cpus = 2
   memory = '6GB'
pod = [
    [
        securityContext: [
            fsGroupChangePolicy: 'OnRootMismatch',
            allowPrivilegeEscalation: false,
            runAsUser: 1000,
            runAsGroup: 1,
            fsGroup: 1,
            capabilities: [
                drop: ['ALL']
            ],
            runAsNonRoot: true,
            seccompProfile: [
                type: 'RuntimeDefault'
            ]
        ]
    ],
    [
        nodeSelector: 'storage=local-ssd'
    ]
]

}
